name: Selenium Tests (Mochawesome)
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: |
        npm ci
        npm install --no-save @testiny/cli@latest
    - name: Run tests
      run: npm test
    - name: Upload test results to Testiny
      if: ${{ !cancelled() }}
      env: 
        TESTINY_API_KEY: ${{ secrets.TESTINY_API_KEY }}
      run: npx @testiny/cli automation --project 57 --source selenium-tests --mochawesome mochawesome-report/*.json 